#main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#loading-progress {
    width: 25%;
    max-width: 100%;
    border: none;
    height: 8px;
    border-radius: 4px;
    color: #0075FF;
    background: #CCCCCC;
    -webkit-appearance: none;    
}

#loading-progress::-webkit-progress-bar {
    background-color: #CCCCCC;
    border-radius: 4px;
}

#loading-progress::-webkit-progress-value {
    background-color: #0075FF;
    border-radius: 4px;
}

#loading-progress::-moz-progress-bar {
    background: #0075FF;
    border-radius: 4px;    
}

#fatal-error {
    font-size: 4em;
}