@media only screen and (max-device-width: 400px) {
    html {
        -webkit-text-size-adjust: none;
        text-size-adjust: none;
    }
}

body {
    background-color: #B39472;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-height: 100vh;
    box-sizing: border-box;
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
    margin: 0;
}

#loading-progress {
    width: 25%;
    max-width: 100%;
    border: none;
    height: 8px;
    border-radius: 4px;
    color: #0075FF;
    background: #CCCCCC;
    -webkit-appearance: none;    
}

#loading-progress::-webkit-progress-bar {
    background-color: #CCCCCC;
    border-radius: 4px;
}

#loading-progress::-webkit-progress-value {
    background-color: #0075FF;
    border-radius: 4px;
}

#loading-progress::-moz-progress-bar {
    background: #0075FF;
    border-radius: 4px;    
}

#fatal-error {
    font-size: 4em;
}

.row-container {
    display: flex;
    flex-direction: row;
    align-items: center;  
}

.column-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.cards-canvas {
    flex-shrink: 0;
    flex-grow: 0;
}

.button-row {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.1s ease-in-out;
}

.button:hover {
    background-color: #45a049;
}

.button:active {
    transform: translateY(2px);
    box-shadow: none;
}

.button:focus {
    background-color: #45a049;
    outline: none;
}

.button:disabled {
    background-color: #7f7f7f;
    cursor: not-allowed;
}

button:disabled.button:active {
    transform: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.message {
    margin-bottom: 0px;
}

.message p {
    margin: 10px 0;
}

.info {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
}

.info p {
    margin: 5px 0;
}